.policy-header-image {
  background-image: url('/assets/logo.png');
  background-size: cover;
}

table {
  width: 100%;
  margin-top: 24px;
}

.policy-card {
    width:100%;
  /*min-width: 500px;
  max-width: 500px;*/
}

.policy-card-content{
    padding-top:24px;
}
