<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Welcome to EAC Insurance Sales Portal</mat-card-title>
    <mat-card-subtitle>Erick Arostegui Cunza</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      This is an example of a very simplified insurance sales system made in a microservice architecture, based on the LAB Insurance Sales Portal
    </p>
    <p>
      erick.arostegui.cunza@gmail.com 2020
    </p>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
  <mat-card-footer>
    
  </mat-card-footer>
</mat-card>
