.example-card {
  min-width: 500px;
  max-width: 500px;
}

.imageProduct {
  width: 100%;
  margin: 0px;
}

.example-header-image {
  background-image: url('/assets/logo.png');
  background-size: cover;
}

table {
  width: 100%;
  margin-top: 24px;
}
